
header{
    background-color: aqua;
    padding: 1rem;

}
header > nav{
    position: fixed;
}
/*------product card style------*/
.product-card a{
    text-decoration: none;
    color: black;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    display: inline-block;
}
.product-img{
width: 100%;
aspect-ratio: 1/1;
}
.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.product-info, .contact-info{
    display: inline-block;
    
justify-content:space-between;
}